# Python Set 

This notebook explains Python Sets with syntax, examples, and AI use cases.

## What is a Set?
A set is an unordered collection of unique elements. It removes duplicates automatically and is widely used in AI and data processing.

In [1]:
numbers = {1, 2, 3, 4, 5}
print(numbers)

duplicates = {1, 2, 2, 3, 3, 4}
print(duplicates)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

## Set Syntax
Sets can be created using curly braces or the set() constructor.

Note: Empty set must be created using set().

In [2]:
fruits = {'apple', 'banana', 'mango'}
print(fruits)

numbers_list = [1, 2, 3, 4, 4, 5]
numbers_set = set(numbers_list)
print(numbers_set)

empty_set = set()
print(type(empty_set))

{'apple', 'mango', 'banana'}
{1, 2, 3, 4, 5}
<class 'set'>

## Taking User Input in Set

In [3]:
value = input('Enter a value: ')
user_set = {value}
print(user_set)

{'23'}

In [4]:
values = input('Enter values separated by space: ').split()
user_set = set(values)
print(user_set)

{'3'}

## Set Operations

In [5]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print('Union:', A | B)
print('Intersection:', A & B)
print('Difference A-B:', A - B)
print('Symmetric Difference:', A ^ B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference A-B: {1, 2}
Symmetric Difference: {1, 2, 5, 6}

## Special Use of Set in AI Engineering

In [6]:
features = ['age', 'salary', 'age', 'experience', 'salary']
unique_features = set(features)
print(unique_features)

sentence = 'ai is the future and ai is powerful'
vocabulary = set(sentence.split())
print(vocabulary)

dataset1 = {'height', 'weight', 'age'}
dataset2 = {'age', 'salary', 'experience'}
print(dataset1 & dataset2)

{'age', 'experience', 'salary'}
{'future', 'and', 'the', 'ai', 'is', 'powerful'}
{'age'}